body {
    background: linear-gradient(to bottom right, rgb(179, 63, 217), rgb(88, 0, 15));

}


.header h3 {
    font-family: serif;
    color: rgb(78, 229, 27);
    font-size: 24px;
}

.header h2 {
    font-family: serif;
    color: rgb(255, 47, 0);
    font-size: 20px;
}

.header h1 {
    font-family: serif;
    color: rgb(161, 178, 236);
    font-size: 16px;
}

.tables {
    margin-left: 20px;
    margin-top: 8px;
}

.x{
    text-align: center;
}
.form-check{
    display: inline-block;
    color: fuchsia;
}
.btn-primary {
    display: inline-block;
    height: 46px;
    background: #55cff5;
    position: relative;
    display: inline-block;
    color: white;
    transition: none;
    border: none;
}
select {
    display: inline-block;
    height: 46px;
    background: #55cff5;
    position: relative;
    display: inline-block;
    color: white;
    transition: none;
    border: none;
}

.btn-primary:hover {
    background-color: #23D3D9;
}

.form-control {
    width: 360px;
}

.form-control::placeholder {
    color: white;
}

.form-control:focus {
    color: white;
}

p {
    font-family: cursive;
    color: rgb(183, 201, 255);
    font-size: 24px;
}

.input.error {
    border-color: red;
}

.btn-selected {
    background-color: mediumblue;
}
.tb{
    margin-left: 100px;
    color: aqua;
}